{% extends "base.html" %}

{% block body %}

<div class="page-header">
    <h1>Sign in</h1>
</div>

{% if messages['error'] %}
    <div class="alert alert-danger">
        {{messages['error']}}
    </div>
{% endif %}

<form action="/login" method="POST">
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" name="username" value="{{username}}" placeholder="username">
    </div>

    <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" name="password" placeholder="••••••••••">
    </div>

    <button class="btn btn-primary" type="submit">Sign in</button>
</form>

<br/>

<div class="alert alert-info">
    No account? <a href="#"><b>Sign up here</b></a>.
</div>

{% endblock %}
